@using System.Configuration
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/main")
    </head>
    <body class="container-fluid">
        <div class="page-header" style="margin-bottom: 5px;">
            <h1 class="text-info">@Html.ActionLink("DevMovies", "Index", "Videos")</h1>
        </div>
        @Html.Partial("Menu")
        @RenderBody()
        
        <footer class="row">
            <div class="col-xs-12">
                <p class="pull-right">Realizacja: <a href="http://tymoteuszkestowicz.com">Tymoteusz Kęstowicz</a>, GitHub: <a href="https://github.com/tkestowicz/DevMoviesPL">DevMoviesPL</a></p>
                <p>DevMovies.pl &copy; 2014</p>
            </div>
        </footer>
       
        @RenderSection("scripts", required: false)

        @Html.ReactInitJavaScript()
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@ConfigurationManager.AppSettings["GoogleAnalyticsAccount"]']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>
    </body>
</html>
